/app/Console
/app/Events
/app/Exceptions
/app/Jobs
/app/Listeners
/app/Providers

/bootstrap
/database
/nbproject
/storage/framework
/storage/logs
/tests
/vendor

Homestead.json
Homestead.yaml

.editorconfig
.env
.env.example
.phpunit.result.cache
.styleci.yml

artisan
composer.json
composer.lock
phpunit.xml